body {

    font-family: 'Mina', sans-serif;
    font-family: 'Preahvihear', sans-serif;
    font-family: 'Rancho', cursive;
}

.home {
    background-image: url('https://img.freepik.com/premium-photo/desktop-with-blank-laptop_700248-12527.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h1 {
        color: #fff;
        font-size: 4rem;
    }


}

.userProfile {
    background-image: url('https://th.bing.com/th/id/R.f1b40ff9617a4dcf9bfc115ef6f274b6?rik=Kyix4mwOg3byDg&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fc%2f4%2f7%2f489350.jpg&ehk=ZRTQWSuOY0h3f9TmPWOIeKO67sElI4mrIQ1w8LNeY5M%3d&risl=&pid=ImgRaw&r=0');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .header {
        h1 {
            color: #FBECB2;
        }

        .navbar {
            ul {
                display: flex;
                gap: 30px;
                list-style-type: none;

                a {
                    color: #5272F2;
                    text-decoration: none;
                    font-size: 1.5rem;
                    transition: 0.7s;

                    &:hover {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    .task {
        color: #FBECB2;
        text-align: center;

        h2 {
            font-size: 4rem;
        }
    }
}