@import './_signIn';
@import './_admin';
@import './_home';
@import './_header';
@import './_services';
@import './_resetPassword';
@import './_userProfile';
@import './_adminHeader';
@import './_createUser';
@import './_valuation';
@import './_createTask';
@import './_allTasks';
@import './_createPosition';
@import './_ourTeam';
@import './_orderApp';
@import './_footer';
@import './_about';


html,
body {
  background-color: #070a13 !important;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden
}


.task-detail-layout {
  padding: 40px 20px;
  display: flex;
  justify-content: center;

  .task-detail-card {
    background: #0d1321;
    border: 1px solid rgba(0, 243, 255, 0.2);
    padding: 30px;
    border-radius: 15px;
    width: 100%;
    max-width: 600px;
    color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

    .card-header {
      margin-bottom: 20px;

      h1 {
        font-size: 1.8rem;
        margin-top: 10px;
        color: #00f3ff;
      }
    }

    .status-badge {
      padding: 5px 12px;
      border-radius: 20px;
      font-size: 0.75rem;
      font-weight: 700;
      text-transform: uppercase;
      display: inline-block; // .card-header-də düzgün görünməsi üçün
      border: 1px solid;
    }

    .status-not-started {
      background: rgba(255, 184, 0, 0.15);
      color: #ffb800;
      border-color: #ffb800;
      box-shadow: 0 0 8px rgba(255, 184, 0, 0.3);
    }

    .status-progress {
      background: rgba(0, 243, 255, 0.15);
      color: #00f3ff;
      border-color: #00f3ff;
      box-shadow: 0 0 8px rgba(0, 243, 255, 0.3);
    }

    .status-finished {
      background: rgba(0, 255, 102, 0.15);
      color: #00ff66;
      border-color: #00ff66;
      box-shadow: 0 0 8px rgba(0, 255, 102, 0.3);
    }

    .info-box {
      background: rgba(255, 255, 255, 0.03);
      padding: 15px;
      border-left: 3px solid #00f3ff;
      margin: 20px 0;
      display: flex;
      gap: 10px;
    }

    .meta-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      .meta-item {
        display: flex;
        flex-direction: column;

        label {
          font-size: 0.75rem;
          color: #64748b;
          text-transform: uppercase;
        }

        span {
          display: flex;
          align-items: center;
          gap: 8px;
          font-weight: bold;
        }
      }
    }

    .completion-tag {
      margin-top: 20px;
      padding: 10px;
      background: rgba(0, 255, 102, 0.1);
      color: #00ff66;
      text-align: center;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
}